.container{
    background-color: rgb(88, 126, 209);
}

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pokemon {
    display:inline-table;
    text-align: center;
}

.pokemon img {
    display: block;
    background-color: rgb(204, 188, 117);
    border-style: solid;
    border-color: rgb(231, 231, 231);
}